@use "variables";

html, body, #root {
  margin: 0;
  height: 100% !important;
  color: variables.$black !important;
}

* {
  box-sizing: border-box;
}
.dx {
  &-widget {
    font-family: Arial, Narrow, serif !important;
  }

  &-link, &-button-mode-text, &-button-default {
    color: #1a73e8 !important;
  }

  &-toolbar{
    padding: 0 9px;
    &-item-content {
      display: flex;
      align-items: center;

    }
  }


}
.side-navigation-menu .menu-container .dx-treeview .dx-treeview-node[aria-level="1"]{
  padding:0 10px 0 5px!important;
  white-space: normal;
}
a {
  text-decoration: none !important;
}

td {
  color: variables.$black !important;
}

.dx-datagrid-nowrap .dx-header-row > td > .dx-datagrid-text-content {
  white-space: normal !important;
}

.header-component {
  position: sticky !important;
  top: 0 !important;
  z-index: 100 !important;
}
