@use "../App/variables";

.home {
  padding: 1rem;
height: 100%;
  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    gap: 2rem;
  }

  &__link {
    padding: 2rem;
    box-shadow: variables.$box-shadow;
    border-radius: variables.$border-radius;
    max-width: 21rem;
    text-decoration: none;
    display: flex;
    text-align: left;
    align-items: center;
    color: variables.$black !important;
    font-size: 1rem;

    &:hover {
      background-color: variables.$black;
      color: white !important;
      transition: .2s;
    }
  }
}

.dx{
  &-widget{
    color: variables.$black;
  }
}
.dx-item-content, .dx-treeview-item-content {
  white-space: normal;
  padding-left: .5rem;
}
