.generic {
  &__title {
    font-size: 1.5rem !important;
    font-weight: bold;
    padding: .5rem;
    width: 100%;
    text-align: center;
  }
}

.column__color{
  background-color: red!important;
}
